pre{
    font-size: 0%
}

h1{
color: #A8A8A8;
font-family: dunbar-tall, sans-serif;
font-weight: 200;
font-style: normal;
}
h1 ~ h4 {
font-family: dunbar-tall, sans-serif;
font-weight: 200;
font-style: normal;
}
h2 ~ h4{ 
font-family: dunbar-tall, sans-serif;
font-weight: 200;
font-style: normal;    
}
h2{
font-family: dunbar-tall, sans-serif;
font-weight: 200;
font-style: normal; 
}

h3{
font-family: dunbar-tall, sans-serif;
font-weight: 200;
font-style: normal; 
}
table ~ h2{
display: table-column-group;
width: 100em;
}
tr{display: table-cell;
background-color: lawngreen;}
display:
td{
   display: table-cell;
   background-color: aqua;
}
